### Basics of Python

Fill valid code/values in place of blanks.

# Demo
# initialize variable 'msg' with the string 'Hello World'
msg = _____

# Solution
msg = "Hello World"

In [2]:
# initialize variables 'a' and 'b' with 5 and 6 respectively
a = 5 
b = 6

# add 'a' and 'b' and assign the result into a new variable 'c'
c = a + b
print(c)

11

In [3]:
# build a function to add 2 numbers
def addition(x,y):
    return(x + y)

# use the function 'addition' to add 'a' and 'b'
addition(4, 5)

9

In [4]:
# create a list consisting of first 5 even numbers and print the list
my_list = [2,4,6,8,10]
print(my_list)

[2, 4, 6, 8, 10]

In [6]:
# access the 3rd element of the list 'my_list'
my_list[2]

6

In [7]:
# given below is a dictionary having 4 unique keys, i.e., 'name', 'age', 'gender', 'is_employed'
my_dict = {'name':'Smith',
           'age':34,
           'gender': 'Male',
           'is_employed': False}

# print 'my_dict'
print(my_dict)

{'name': 'Smith', 'age': 34, 'gender': 'Male', 'is_employed': False}

In [9]:
# access value under 'name' key from 'my_dict'
my_dict['name']

'Smith'

In [10]:
# update 'is_employed' key to True
my_dict.update({'is_employed': True})

# print the updated dictionary
print(my_dict)

{'name': 'Smith', 'age': 34, 'gender': 'Male', 'is_employed': True}

In [11]:
# use a for loop to print only even numbers from the first 20 numbers, i.e. 1-20
for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Please download the file "data_python.csv".

In [12]:
# import required libraries
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
## read data_python.csv using pandas
mydata = pd._____("data_python.csv")

In [ ]:
## print the number of rows and number of columns of mydata
mydata._____

In [ ]:
## assign a variable 'target' with the 'Loan_Status' feature from mydata dataframe
target = mydata[_____]

In [ ]:
## print the datatype of ApplicantIncome feature
print(mydata['ApplicantIncome']._____)

In [ ]:
## conditional statement - print 'Yes' if the 21st element of 'Education' feature is 'Graduate' else print 'No'
if(mydata['Education'][20] == 'Graduate'):
    print(_____)
else:
    print(_____)

In [ ]:
## print 31st to 35th rows of mydata
mydata.iloc[_____:_____]

In [ ]:
## print first 5 rows of 2nd and 3rd column only
mydata.iloc[:_____,_____:_____]